name: Node CI
on: [push]
jobs:
  linux64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn update and lindist
      run: |
        yarn update
        yarn run lindist
    - name: Set COMPANION_BUILD
      run: |
        echo COMPANION_VERSION=$(node -e "console.log(require('./package.json').version)") >> $GITHUB_ENV
        echo "COMPANION_BUILD=$(cat BUILD)" >> $GITHUB_ENV
        echo "COMPANION_ARTIFACT=companion-$(cat BUILD)-linux.tar.gz" >> $GITHUB_ENV
    - name: Package
      run: |
        # manually tar it, to preserve the symlinks
        cd electron-output
        mv linux-unpacked companion-$COMPANION_VERSION
        tar -cvzf "$COMPANION_ARTIFACT" companion-$COMPANION_VERSION
    - name: 'Publish Release'
      uses: actions/upload-artifact@v2
      with:
        name: '${{ env.COMPANION_ARTIFACT }}'
        path: ./electron-output/*.gz
  osx:
    runs-on: macOS-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn update and macdist
      run: |
        yarn update
        yarn run macdist
    - name: Set COMPANION_BUILD
      run: |
        echo COMPANION_VERSION=$(node -e "console.log(require('./package.json').version)") >> $GITHUB_ENV
        echo "COMPANION_BUILD=$(cat BUILD)" >> $GITHUB_ENV
        echo "COMPANION_ARTIFACT=companion-$(cat BUILD)-osx.zip" >> $GITHUB_ENV
    - name: Rename
      run: mv -vf ./electron-output/*.zip ./electron-output/$COMPANION_ARTIFACT
    - name: 'Publish Release'
      uses: actions/upload-artifact@v2
      with:
        name: '${{ env.COMPANION_ARTIFACT }}'
        path: ./electron-output/*.zip
  win64:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn update and windist
      run: |
        yarn update
        yarn run windist
    - name: Set COMPANION_BUILD
      run: |
        echo COMPANION_VERSION=$(node -e "console.log(require('./package.json').version)") >> $GITHUB_ENV
        echo "COMPANION_BUILD=$(cat BUILD)" >> $GITHUB_ENV
        echo "COMPANION_ARTIFACT=companion-$(cat BUILD)-win64.exe" >> $GITHUB_ENV
    - name: Rename
      run: mv -vf ./electron-output/*.exe ./electron-output/$COMPANION_ARTIFACT
    - name: 'Publish Release'
      uses: actions/upload-artifact@v2
      with:
        name: '${{ env.COMPANION_ARTIFACT }}'
        path: ./electron-output/*.exe
